.feature-item {

    margin-bottom: -1.5em;

    &__icon {
        border-radius: 7px;
        padding: 2px;
        
        &--blue {
            color: $mainBlue;
            border: $mainBlue 2px solid;
            background-color: #fff;
        }

        &--dark-grey {
            background-color: #333;
            color: #fff;
            border: #6c757d 2px solid;
        }
        
    }
}